<% if object.has_tag?(:option) %>
  <% object.parameters.each do |param, default| %>
    <% tags = object.tags(:option).select {|x| x.name.to_s == param.to_s } %>
    <% next if tags.empty? %>
    <dt class="tag-title">Keys for <var><%= param %></var>:</dt>
    <dd class="tag-content">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="name">Key</th>
            <th class="type">Type</th>
            <th class="details">Details</th>
          </tr>
        </thead>
        <tbody>
        <% for tag in tags %>
        <tr>
          <td class="name"><var><%= tag.pair.name %></var></td>
          <td class="type"><%= format_types(tag.pair.types || ['Object']) %></td>
          <td class="details">
            <span class="default">
              <% if tag.pair.defaults %>
                default:
                <%= tag.pair.defaults.map {|t| "<code>#{h t}</code>" }.join(", ") %>
              <% end %>
            </span>
            <% if tag.pair.text && tag.pair.text =~ /\S/ %>
              <%= htmlify_line(tag.pair.text) %>
            <% end %>
          </td>
        </tr>
        <% end %>
        </tbody>
      </table>
    </dd>
  <% end %>
<% end %>
