<% if object.tags(:overload).size == 1 %>
  <%= yieldall :object => object.tag(:overload) %>
<% elsif object.has_tag?(:overload) && object.tags(:overload).any? {|o| !o.docstring.blank? } %>
  <dt class="tag_title">Overloads:</dt>
  <dd class="tag_content">
    <% object.tags(:overload).each do |overload| %>
      <% next if overload.docstring.blank? %>
      <div class="panel panel-info">
        <div class="panel-heading overload-header">
          <% if object.scope == :class %><em>self.</em><% end %><span class="path"><strong><%= object.is_attribute? ? object.name.to_s.sub(/=$/, '') : object.name %></strong></span><% if object.is_attribute? %>
          <% rw = object.attr_info %>
          <% if rw && rw[:read] && !rw[:write] %><span class="label label-default">readonly</span>
          <% elsif rw && !rw[:read] && rw[:write] %><span class="label label-default">writeonly</span>
          <% end %>
          <% else %><%= format_args(object) %> <%= format_block(object) %><% end %>
        </div>
        <div class="panel-body overload-body">
          <%= yieldall :object => overload %>
        </div>
      </div>
    <% end %>
  </dd>
<% end %>