<dt class="tag-title">
  <%= @label ? @label : YARD::Tags::Library.labels[@name] %>:
</dt>
<dd class="tag-content">
  <table class="table table-striped">
    <thead>
      <tr>
        <% unless @no_names %>
        <th class="name">Name</th>
        <% end %>
        <% unless @no_types %>
        <th class="type">Type</th>
        <% end %>
        <th class="details">Details</th>
      </tr>
    </thead>
    <tbody>
    <% object.tags(@name).each do |tag| %>
      <tr>
        <% unless @no_names %>
        <td class="name"><var><%= h tag.name %></var></td>
        <% end %>
        <% unless @no_types %>
        <td class="name"><%= format_types(tag.types) %></td>
        <% end %>
        <td class="details">
          <% if @name == :param && (o=object.parameters.assoc(tag.name.to_s)) && o[1] %>
            <em class="default">(defaults to: <code><%= h o[1] %></code>)</em>
          <% end %>
          <% if tag.text && !tag.text.empty? %>
          <%= htmlify_line(tag.text) %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</dd>
