<div class="page-header">
  <h1><small><% if object.has_tag?(:abstract) %> <span class="label label-info">abstract</span><% end %>
  <% if object.has_tag?(:deprecated) %> <span class="label label-warning">deprecated</span><% end %><%= object.type %></small> <%= object.title %></h1>
</div>
<%= yieldall %>
<% if CodeObjects::ClassObject === object && object.superclass %>
<h2>Inherits</h2>
<div class="superclass"><%= linkify object.superclass %></div>
<% end %>
<% if (mix = run_verifier(object.mixins(:class))).size > 0 %>
<h2>Extends</h2>
<div class="extends">
  <ul class="list-inline">
    <% mix.sort_by {|o| o.path }.each do |o| %>
    <li><%= linkify(o) %></li>
    <% end %>
  </ul>
</div>
<% end %>
<% if (mix = run_verifier(object.mixins(:instance))).size > 0 %>
<h2>Includes</h2>
<div class="includes">
  <ul class="list-inline">
    <% mix.sort_by {|o| o.path }.each do |o| %>
    <li><%= linkify(o) %></li>
    <% end %>
  </ul>
</div>
<% end %>
<% if (mixed_into = mixed_into(object)).size > 0 %>
<h2>Mixed into</h2>
<div class="included">
  <ul class="list-inline">
    <% mixed_into.sort_by {|o| o.path }.each do |o| %>
    <li><%= linkify(o) %></li>
    <% end %>
  </ul>
</div>
<% end %>
